html, body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
* {
    user-select: none;
}
#map-container {
    width: 900px;
    height: 600px;
}
svg {
    cursor: pointer;
}
select {
    position: absolute;
    top: 50px;
    left: 50px;
}
.boundary {
    stroke: black;
    stroke-width: .5px;
}
path:hover {
    fill: red!important;
}
.clicked {
    fill: red!important;
}