@font-face {
    font-family: njal;
    src: url("../../public/assets/fonts/njal.otf");
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    overflow: hidden;
}
* {
    user-select: none;
}
#map-container {
    width: 900px;
    height: 600px;
}
canvas {
    border: 1px solid white;
}
svg {
    cursor: pointer;
    background-color: lightblue;
}
svg > g {
    border: 1px solid black;
}
#route-selected-container {
    position: absolute;
    bottom: 50px;
    left: 50px;
    border: 3px solid white;
    padding: 25px;
    color: white;
}
#route-selected-container h3 {
    font-family: 'Courier New', Courier, monospace;
}
#route-selected-container ol {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.route-selected {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.route-selected-color {
    width: 20px;
    height: 5px;
    background-color: red;
}
.route-selected-code {
    margin: 0 5px;
}
.boundary {
    stroke: white;
    stroke-width: .5px;
}
path:not(.path-link):hover {
    fill: red!important;
}
.clicked {
    fill: red!important;
}
#settings-container {
    width: 300px;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    border-left: 2px solid white;
    position: absolute;
    right: -300px;
    top: 0;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    color: white;
}
#settings-container.active {
    right: 0;
}
#settings-container > button {
    width: 32px;
    height: 32px;
    background-image: url("../../public/assets/burger.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    right: 320px;
    top: 20px;
    border: none;
    transition: 0.25s;
}
#settings-container.active > button {
    right: 20px;
    background-image: url("../../public/assets/burger-close.svg");
}
#settings-container > h3 {
    text-align: center;
    text-decoration: underline;
    font-family: njal;
    letter-spacing: 2px;
    font-size: 20px;
}
.settings-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 20px;
}
.settings-option *:not(h3) {
    font-family:monospace;
}
.settings-option > span {
    margin-right: 10px;
}
#settings-rotation {
    display: flex;
    justify-content: center;
    align-items: center;
}
#settings-rotation > * {
    vertical-align: middle;
}