html, body {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
* {
    user-select: none;
}
#map-container {
    width: 900px;
    height: 600px;
}
svg {
    cursor: pointer;
    background-color: lightblue;
}
svg > g {
    border: 1px solid black;
}
select {
    position: absolute;
    top: 50px;
    left: 50px;
}
#route-selected-container {
    position: absolute;
    bottom: 50px;
    left: 50px;
    border: 3px solid white;
    padding: 25px;
    color: white;
}
#route-selected-container h3 {
    font-family: 'Courier New', Courier, monospace;
}
#route-selected-container ol {
    display: flex;
    flex-direction: column;
    padding: 0;
}
.route-selected {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.route-selected-color {
    width: 20px;
    height: 5px;
    background-color: red;
}
.route-selected-code {
    margin: 0 5px;
}
.boundary {
    stroke: white;
    stroke-width: .5px;
}
path:not(.path-link):hover {
    fill: red!important;
}
.clicked {
    fill: red!important;
}